body,html { 
    margin: 0px;
    padding: 0;
    height: 100%;
    width: 100%; 
    font-family:"Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    text-decoration: none; 
    font-weight: 300; 
    line-height: 1;
}
          
          
div{
    display: block;
}


.navbar-links {      
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0; 
    padding-top: 30px;
}
               
.navbar-links li {
    display : inline;
    
}

.navbar-links a{ 
    text-decoration: none; 
    padding: 0  15px;
    border-right: solid 1px rgba(255,255,255, .5);
    color: inherit;
    margin-bottom: 0; 
}

.navbar-links li:last-child a{
      border-right: none;
}

.logo {
    max-width: 20vh;
}
  
a{           
    font-family: sans-serif;
    color: white ;
    text-decoration: none; 
    padding-left: 23px ;
}
               
#contenu {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%); 
}


.navbar { 
    height: 100%;
    width: 100%;
    min-height: 450px;
    color: #fff;
    text-align: center;
    background-color: #cf4646;
}


.slogan { 
    font-family:  Helvetica, Arial, sans-serif ;
    margin: 0;
    margin-bottom: 60px; 
    font-size: 41px;
    font-weight: 300;
    width:90vw;
}

               
.bouton{
    transition: all 0.4s;
    padding: 15px 20px 16px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.footer {
    height: 300px;
    width: 1024px;
    margin-right: auto;
    margin-left:auto;
    margin-top:0px;
    margin-bottom:100px;
    background-color: #fff;
    padding:50px;
    font-weight: 400;
}

h1 {
    margin-bottom: 14px;
    font-size:22px;
    font-weight:500;
    color: black;
    font-weight: 400;
}


#info1 { 
    font-size: 16px;
    color:#7f8c8d;
    font-family:sans-serif;
    margin-bottom: 14px;
    line-height: 26px;
    float: left;
    width: 48.5%;
}

#info2 {
    font-size:16px;
    color:#7f8c8d;
    font-family: sans-serif;
    line-height: 26px;
    float: left;
    width: 48.5%;
}    

#info3 {
    font-size:16px;
    color:#7f8c8d;
    font-family: sans-serif;
    line-height: 26px;
    float: left;
    width: 48.5%;
    clear: both;
}
               
#info4 {
    font-size:16px;
    color:#7f8c8d;
    line-height: 26px;
    font-family:sans-serif;
    float: left;
    width: 48.5%;
}

         

