body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px/1.5;
    color: #333;
    background-color: #fff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
    line-height: 1;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: inherit;
    vertical-align: baseline;
    display: block;
}

.main-header{
    height: 100%;
width: 100%;
min-height: 450px;
color: #fff;
text-align: center;
background-color: #cf4646;
}

.navbar{
    zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-top: 30px;
    float: left;
    width: 100%;
}

.navbar .navbar-title{
    display: none;
    position: static;
    float: left;
    left: 50%;
}

.navbar a{
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.2s linear;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    padding: 0 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar .navbar-links{
    width: auto;
    max-width: 1440px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

.navbar .navbar-links .navbar-link:last-child{
    border-right: none;
}

.main-header-content{
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo{
    max-width: 20vh;
    max-height: 20vh;
}

.main-header-text{
    width: 90vw;
    -webkit-animation: fadein 2s;
    -ms-animation: fadein 2s;
    animation: fadein 2s;
    margin-bottom: 60px;
    font-size: 41px;
    font-weight: 300;
    line-height: 60px;
}

.main-header-btn{
    transition: all 0.4s;
    color: inherit;
    padding: 15px 20px 16px;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    animation: fadein 2s;
    text-shadow: none;
    color: #333;
    background-color: #fff;
    font-size: 22px;
}

.main-info{
    width: auto;
    max-width: 1024px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
}

.benefits{
    float: left;
    clear: none;
    text-align: inherit;
    margin-left: 0%;
    margin-right: 3%;
    width: auto;
    max-width: 1024px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding: 0 50px;
    margin: 100px 0 100px 0;
}

.benefits:last-child{
    margin-right: 0%;

}

.benefits:after{
    clear: both;
}

.benefits:before, .benefits:after{
    content: '';
    display: table;
}

.benefits .benefit:first-child{
    margin-left: auto;
}

.benefits .benefit:after{
    clear:both;
}

.benefits .benefit:nth-child(4n+1){
    clear:both;
}

.benefits .benefit{
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    display: block;
}

.benefits .benefit:last-child{
    margin-right: auto;
}

.benefits .benefit:nth-child(4n){
    margin-right: 0%;
    float: right;
}

.benefits .benefit .benefit-title{
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 500;
}

.benefits .benefit .benefit-text{
    color: #7f8c8d;
    font-size: 16px;
    line-height: 26px;
}
